@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@keyframes list_circle {
    0% {}

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@keyframes hover_logo {
    0% {        
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




#cousor-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    transform: translate(-50%, -50%);
}

#cousor-ball_b {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 0.5px solid #666;
    transform: translate(-50%, -50%);
    z-index: 2;
}

body:active #cousor-ball, body:active #cousor-ball_b {
    width: 20px;
    height: 20px;
}

#move_top_btn {
    position: fixed;
    right: 2%;
    bottom: 6%;
    display: none;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background: #fff;
}

#move_top_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#move_top_btn:hover img {
    animation: up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.back_list {
    position: fixed;
    left: 3%;
    top: 50%;
    z-index: 9999;
    width: auto;
    height: auto;
    transform: translateY(-50%);
}

.back_list div {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all linear 0.3s;
    transform: translateX(-50%);
    

}

.back_list div img {
    position: relative;
    width: 100%;
    transition: all linear 0.3s;
}

.back_list span {
    display: block;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 2px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.back_list:hover div {
    background: url(../img/common/arrow-left.svg) no-repeat center/ cover;
    transition: all linear 0.3s;
    background-color: #fff;
}

.back_list:hover div img {
    opacity: 0;
    transition: all linear 0.3s;
}

.back_list:hover span {
    font-weight: 800;
}

    .logo-position {
        position: relative;
        float: left;
        width: auto;
        height: 100%;
    }

    .logo-position div {
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5vw;
        height: 2vw;
        background: url(../img/common/logo_circle.gif) no-repeat left center/ contain;
            transition: 1s;
    }

    .logo-position div:hover {
        background: url(../img/common/logo_name.gif) no-repeat left center / contain;
        transition: 1s;
    }

    
.mark_img{
    width:26px; 
    vertical-align:middle;
    z-index: 1; 
    transform: translate(10%, -110%);
}

@media screen and (min-width: 1201px) {

    html,
    body {
        position: relative;
        height: 100%;
        font-family: 'Noto Sans KR', 'AappleSDGothicNeo', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
    }

    a {
        position: relative;
        text-decoration: none;
        color: #000;
        z-index: 10;
    }

    header {
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        padding: 20px 36px;
        width: 100%;
        height: 6.5vw;
        box-sizing: border-box;

    }

    .down {
        position: fixed;
        z-index: 3;
        background-color: rgba(17, 17, 17, 0.8);
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }


    
    .all_list {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 0;
    }
    .all_list:hover{
        color: rgba(255, 255, 255, 0.7);
    }
    .all_list span {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 40px;
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 50%;
    }

    .all_list:hover span {
        border: 1px solid rgba(255, 255, 255, 1);
        animation: list_circle;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        
    }
    
    .menu-position {
        position: relative;
        float: right;
        display: table;
        width: auto;
        height: 100%;
    }

    .menu-position span {
        font-size: 20px;
        font-weight: 600;
        display: table-cell;
        vertical-align: middle;
    }

    .front_circle {
        background-color: rgba(0, 175, 102, 1);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        line-height: 0;
        display: inline-block;
        margin-right: 12px;
        transition: 0.5s;
    }

    .hover_bg {
        position: absolute;
        background-color: rgba(0, 175, 102, 1); /* PANTONE 3405C (hex:00AF66) */
        width: 12px;
        height: 12px;
        border-radius: 50%;
        right: 100%;
        top: 54%;
        transform: translate(100%, -50%);
        z-index: -20;
        opacity: 0;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .menu-position:hover .front_circle {
        margin-right: 0;
        opacity: 0;
        transition: 0.5s;
    }

    .menu-position:hover .hover_bg {
        width: 40px;
        height: 40px;
        right: 40%;
        -webkit-transform: translate3d(50%, -50%, 0);
        -mox-transform: translate3d(50%, -50%, 0);
        -ms-transform: translate3d(50%, -50%, 0);
        -o-transform: translate3d(50%, -50%, 0);
        transform: translate3d(50%, -50%, 0);
        opacity: 1;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }


}

@media screen and (max-width: 1400px) {
    #cousor-ball, #cousor-ball_b {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    header {
        position: relative;
        background-color: rgba(255, 255, 255, 0);
        padding: 10px 30px;
        width: 100%;
        height: 80px;
        box-sizing: border-box;

    }

    .down {
        position: fixed;
        z-index: 2;
        background-color: rgba(17, 17, 17, 0.8);
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }



    .all_list {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1.5px;
        line-height: 0;
    }


    .menu-position {
        position: relative;
        float: right;
        display: table;
        width: auto;
        height: 100%;
    }

    .menu-position span {
        font-size: 20px;
        font-weight: 600;
        display: table-cell;
        vertical-align: middle;
    }

    .front_circle {
        background-color: rgba(0, 175, 102, 1);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        line-height: 0;
        display: inline-block;
        margin-right: 12px;
        transition: 0.5s;
    }

    .hover_bg {
        position: absolute;
        background-color: rgba(0, 175, 102, 1);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        right: 100%;
        top: 54%;
        transform: translate(100%, -50%);
        z-index: -20;
        opacity: 0;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .menu-position:hover .front_circle {
        margin-right: 0;
        opacity: 0;
        transition: 0.5s;
    }

    .menu-position:hover .hover_bg {
        width: 40px;
        height: 40px;
        right: 40%;
        transform: translate(50%, -50%);
        opacity: 1;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }


}

@media screen and (max-width: 780px) {
    
    .mark_img{
    width:20px; 
    vertical-align:middle;
    z-index: 1; 
    transform: translate(10%, -80%);
}
}

@media screen and (max-width: 640px) {
    header {
        background-color: rgba(255, 255, 255, 0);
        padding: 10px 4vw;
        width: 100%;
        height: 80px;
        box-sizing: border-box;

    }

    .logo-position div {
        width: 12vw;
        height: 6vw;
    }
    
.back_list {
    position: fixed;
    left: 50%;
    top: 100%;
    width: auto;
    text-align: center;
    height: 60px;
    transform: translate(-50%, -100%);
    z-index: 9999;
}

.back_list div {
    display: block;
    position: relative;
    left: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all linear 0.3s;
    transform: translateX(-50%);
    background: url(../img/common/arrow-left.svg) no-repeat center/ cover;
    background-color: #fff;

}

.back_list span {
    display: none;
}

.back_list div img {
    opacity: 0;
}

}

@media screen and (max-width: 450px) {
    header {
        background-color: rgba(255, 255, 255, 0);
        padding: 10px 4vw;
        width: 100%;
        height: 20vw;
        box-sizing: border-box;

    }

    .logo-position div {
        width: 15vw;
        height: 6vw;
    }


    .menu-position {
        position: relative;
        float: right;
        display: table;
        width: auto;
        height: 100%;
    }

    .menu-position span {
        font-size: 16px;
        font-weight: 600;
        display: table-cell;
        vertical-align: middle;
    }

}

@media screen and (max-width: 360px) {
    header {
        background-color: rgba(255, 255, 255, 0);
        padding: 4vw 6vw;
        width: 100%;
        height: 20vw;
        box-sizing: border-box;

    }

    .logo-position div {
        width: 10vw;
        height:10vw;
    }

}
