@media screen and (min-width:641px) and (max-width:1024px) {

    @import url ('https://fonts.googleapis.com/css2? family = Noto + Sans + KR : wght @ 100; 300; 400; 500; 700; 900 & display = swap');

    html,
    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: 'Noto Sans KR', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #cousor-ball {
        display: none;
    }

    body {
        font-family: 'Noto Sans KR', sans-serif;
    }

    .swiper-slide {
        width: 36vw;
        height: 48vw;
        margin-right: 6vw;
    }

    .years {
        left: -20vw;
        top: 30%;
        font-size: 2vw;
    }

    .swiper-slide:first-child {
        width: 36%;
        height: 100%;
        margin-left: -54vw;
        margin-right: 0vw;
    }

    .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 14vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: 0vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(230%);
        font-size: 6vw;
        font-weight: 700;
        word-break: keep-all;
    }

    .swiper-slide:nth-child(2) {
        margin-left: 34vw;

    }

    .slide-title {
        right: -16vw;
        font-size: 5vw;
        top: 38%;
    }

    .slide-stitle {
        top: 68%;
        right: -15vw;
    }

    .h-line {
        width: 10vw;
        margin-right: 2vw;

    }

    .slide-stitle p {
        margin-left: 1.2vw;
        font-size: 1.4vw;
        letter-spacing: -0.1vw;



    }
}

@media screen and (min-width:641px) and (max-width:768px) {
        .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 12vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: 0vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(220%);
        font-size:6.4vw;
        font-weight: 700;
        word-break: keep-all;
    }
    
      .swiper-slide:nth-child(2) {
        margin-left: 26vw;

    }
}