@media screen and (max-width: 640px) {

    html,
    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: 'Noto Sans KR', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
    }

    #cousor-ball {
        display: none;
    }

    body {
        font-family: 'Noto Sans KR', sans-serif;
    }


    header {
        padding: 20px 20px;
    }

    .swiper-slide {
        width: 42vw;
        height: 64vw;
        margin-right: 12vw;
    }

    .years {
        left: -24vw;
        top: 26%;
        font-size: 2.6vw;
    }

    .swiper-slide:first-child {
        width: 40%;
        height: 100%;
        margin-right: 0vw;
        margin-left: -48vw;
    }

    .swiper-slide:first-child .text01 {
        top: 58%;
        transform: translateY(-100%);
        font-size: 15vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: -1vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(200%);
        font-size: 9vw;
        font-weight: 700;
        word-break: keep-all;
    }

    .swiper-slide:nth-child(2) {
        margin-left: 30vw;
        margin-top: 0vw;
    }

    .slide-title {
        right: -17vw;
        font-size: 6vw;
    }

    .slide-stitle {
        top: 64%;
        letter-spacing: -0.2vw;
        right: -17vw;
    }

    .h-line {
        width: 12vw;
        margin-right: 3vw;

    }

    .slide-stitle p {
        margin-left: 1.2vw;
        font-size: 2vw;
    }

    /* project_list */
    


    .project_title span {
        font-size: 3vw;
        letter-spacing: 0.1vw;
    }

    .project_title h1 {
        font-size: 10vw;
        line-height: 0;
        letter-spacing: 1.6vw;
         -webkit-text-stroke: 1.2px #000;

    }

    .workbox_wrap {
        float: right;
        width: 63%;
        text-align: left;
    }

    
    .workbox_wrap ul li {
        width: 58vw;
        margin: 0 0 12vw 0vw;
    }

    .workbox_wrap ul li div {
        width: 58vw;
        height: 32vw;
    }



    .workbox_wrap ul li p {
        font-size: 3vw;
        padding-top: 2px;
        line-height: 1.2;
        word-break: keep-all;
    }

    .workbox_wrap ul li span {
        font-size: 2.4vw;

    }

    .workbox_wrap ul li div.vline {
        height: 14px;
        transform: translateY(8%)
    }

}

@media screen and (max-width: 500px) {

    .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 16vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: -1vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(210%);
        font-size: 9.2vw;
        font-weight: 700;
        word-break: keep-all;
    }

    .project_title {
    transform: translateX(-20%);
}
    
    .project_title span {
        font-size: 3.4vw;
        letter-spacing: 0.1vw;
    }

    .workbox_wrap {
        float: right;
        width: 64%;

    }
    
        .workbox_wrap ul li {
        width: 56vw;
        margin: 0 0 12vw 0vw;
    }

    .workbox_wrap ul li div {
        width: 56vw;
        height: 33vw;
    }



    .workbox_wrap ul li p {
        font-size: 3.6vw;
        padding-top: 0px;
        line-height: 1.2;
        word-break: keep-all;
    }

    .workbox_wrap ul li span {
        font-size: 2.6vw;
    

    }

    .workbox_wrap ul li div.vline {
        height: 2.5vw;
        transform: translateY(9%)
    }


}
