@media screen and (min-width:641px) and (max-width:1024px) {
    
    

    html,
    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: 'Noto Sans KR', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
    }

    #cousor-ball {
        display: none;
    }

    body {
        font-family: 'Noto Sans KR', sans-serif;
    }

    .swiper-slide {
        width: 36vw;
        height: 48vw;
        margin-right: 6vw;
    }

    .years {
        left: -20vw;
        top: 34%;
        font-size: 1.5vw;

    }

    .swiper-slide:first-child {
        width: 36%;
        height: 100%;
        margin-left: -54vw;
        margin-right: 0vw;
    }

    .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 14vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: 0vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(230%);
        font-size: 6vw;
        font-weight: 700;
        word-break: keep-all;
    }

    .swiper-slide:nth-child(2) {
        margin-left: 34vw;

    }

    .slide-title {
        right: -16vw;
        font-size: 4vw;
        top: 38%;
    }

    .slide-stitle {
        top: 60%;
        right: -15vw;
    }

    .h-line {
        width: 10vw;
        margin-right: 2vw;

    }

    .slide-stitle p {
        margin-left: 1.2vw;
        font-size: 1.4vw;
        letter-spacing: -0.1vw;



    }
   .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 12vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: 0vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(220%);
        font-size:6.4vw;
        font-weight: 700;
        word-break: keep-all;
    }
    
      .swiper-slide:nth-child(2) {
        margin-left: 26vw;

    }
    
   /* project_list */ 
    
    .project_title span {
    font-size: 3vw;
    letter-spacing: 0.1vw;
}

.workbox_wrap {
    float: right;
    width: 75%;
    text-align: right;

}
    .workbox_wrap ul li {
    width: 62vw;
    margin: 0 0 8vw 0vw;
}
    
    .workbox_wrap ul li div {
    width: 62vw;
    height: 35vw;
    box-sizing: content-box;
}

    
    
.workbox_wrap ul li p {
    font-size: 2.5vw;
    padding-top: 3px;
}

.workbox_wrap ul li span{
    font-size: 2vw;

}

.workbox_wrap ul li div.vline {
    height: 18px;
    transform: translateY(8%)
}
    
    
    
    
}





@media screen and (min-width:641px) and (max-width:768px) {
        .swiper-slide:first-child .text01 {
        top: 56%;
        transform: translateY(-100%);
        font-size: 12vw;
        font-weight: 900;
        word-break: keep-all;
        word-spacing: 0vw;
    }

    .swiper-slide:first-child .text02 {
        transform: translateY(220%);
        font-size:6.4vw;
        font-weight: 700;
        word-break: keep-all;
    }
    
      .swiper-slide:nth-child(2) {
        margin-left: 26vw;

    }
    

    
    /* project_list */ 

.workbox_wrap ul li p {
    font-size: 2.2vw;
    padding-top: 2px;
}

.workbox_wrap ul li span{
    font-size: 1.8vw;

}

.workbox_wrap ul li div.vline {
    height: 11px;
    transform: translateY(8%)
}

}



