@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@keyframes name01 {
    from {
        transform: translateX(300px);
    }

}

@keyframes name02 {
    from {
        transform: translateX(140px);
    }
}

@keyframes name03 {
    from {
        transform: translateX(-300px);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
}


@keyframes up {
    0% {
        transform: translate(-50%, 200%);
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -200%);
        opacity: 0.2;
    }
}

@keyframes list_circle_b {
    0% {}

    100% {
        width: 80px;
        height: 80px;
        border: 1px solid rgba(0, 0, 0, 0);
    }
}

@keyframes mockup_scroll {
    0% {}

    25% {
        background-position: 0 25%;
    }

    50% {
        background-position: center;
    }

    75% {
        background-position: 0 75%;
    }

    100% {
        background-position: bottom;
    }
}

@keyframes mockup_scroll02 {
    0% {}

    35% {
        background-position: 0 32%;
    }

    70% {
        background-position: 0 62%;
    }

    100% {
        background-position: bottom;
    }
}

@keyframes mockup_scroll03 {
    from {}

    50% {
        background-position: center;
    }

    to {
        background-position: bottom;
    }
}

@keyframes mockup_scroll04 {
    0% {}

    20% {
        background-position: 0 20%;
    }

    40% {
        background-position: 0 40%;
    }

    60% {
        background-position: 0 60%;
    }

    80% {
        background-position: 0 80%;
    }

    100% {
        background-position: bottom;
    }
}


html,
body {
    width: 100%;
    font-family: 'Noto Sans KR', 'AappleSDGothicNeo', sans-serif;
    background: #111111;
    color: #fff;
    padding: 0;
    margin: 0;


}

body {
    overflow-x: hidden;
}

a {
    position: relative;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

.back_list {
    z-index: 9999;
}


.wrap {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}




.contents_wrap {
    display: block;
    text-align: center;
}


.contents_header {
    position: relative;
    display: inline-block;
    width: 1180px;
    height: 680px;
    margin-top: 100px;

}

.header_bg {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1550px;
    height: 680px;
    opacity: 0.6;
    background-size: cover;
    background-position: left top;


}

.contents_header ul {
    list-style: none;
    padding: 0 0 0 100px;
    box-sizing: border-box;
    transform: translateY(-76px);
    text-align: left;
}

.contents_header ul li:first-child {
    font-size: 76px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1.5px #fff;
}

.contents_header ul li:nth-child(2) {
    font-size: 76px;
    font-weight: 900;
}

.contents_header ul li:nth-child(3) {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.contents_header ul li:nth-child(4) {
    margin-top: 80px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.contents_header ul li:nth-child(4) img {
    margin-top: 16px;
    width: 14px;
    height: 20px;
}

.contents_header a {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    text-align: left;
}

.link_button {
    position: relative;
    width: 300px;
    height: 80px;
    display: table;
    padding: 0 40px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0);
    transition-duration: 0.2s;

}

.link_button span {
    display: table-cell;
    vertical-align: middle;
}

.link_button div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    width: 16px;
    height: 16px;
    background: url(../../img/work_view/link.svg);
    transition-duration: 0.2s;
}


.link_button:hover {
    background-color: rgba(0, 0, 0, 1);
    border: 4px solid rgba(255, 255, 255, 1);
    color: #fff;
    transition: all 300ms linear;
    ;
}



.contents_main,
.etc_area {
    display: block;
    width: 1180px;
    margin: 0 auto;
    padding: 120px 100px 0 100px;
    box-sizing: border-box;
    height: auto;
    text-align: left;
}

.subheading {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    line-height: 0;
    margin-top: 120px;
}

.details_text {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    color: #d4d4d4;

}

.summary {
    list-style: none;
    padding: 0;
    margin-top: 80px;
}

.summary li {
    display: inline-block;
    width: 250px;
    margin-left: 110px;
    font-size: 15px;
    color: #d4d4d4;
    font-weight: 300;

}


.summary li:first-child {
    margin-left: 0vw;

}

.summary li h1 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 3px solid #fff;
    color: #fff;
}


.color_area {
    width: 1180px;
    height: 280px;
    transform: translateX(-100px);
    background-color: #c9c9c9;
    margin-top: 120px;
    box-sizing: border-box;
}


.detail_area {
    transform: translateY(-140px);
    width: 100%;
    padding: 0;
}

.detail_area ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.mockup_area {
    position: relative;
    padding: 0;
    width: 100%;
    height: 560px;
    border: 10px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.mockup_area span {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.mockup_area span.mockup01 {
    animation: mockup_scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.mockup_area span.mockup02 {
    animation: mockup_scroll02;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.mockup_area span.mockup03 {
    animation: mockup_scroll03;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.mockup_area span.mockup04 {
    animation: mockup_scroll04;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.detail_area ul li:nth-child(3) {
    box-sizing: border-box;
    margin-bottom: 120px;

}

.concept_circles {
    width: 100%;
    padding: 0 80px;
}

.concept_circles div {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid #707070;
    display: inline-block;
    margin-top: 100px;
    padding: 0;
    text-align: center;
}

.concept_circles div:first-child {
    animation: name01;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.concept_circles div:nth-child(2) {
    transform: translateX(-60px);
    animation: name02;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.concept_circles div:nth-child(3) {
    float: right;
    animation: name03;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.concept_circles div span {
    line-height: 220px;
}

.concept_circles hr {
    float: right;
    width: 300px;
    height: 1px;
    border: 0;
    background-color: #707070;
    transform: translate(-60%, -115px);
    animation: fade;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

.visual_area {
    box-sizing: content-box;
    
}

.visual_area img {
    width: 100%;
    margin: 10px 0;
}

.visual_area span{
    color: #d4d4d4;
}

.expansion_area {
    display: block;
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    margin: 0;
    padding: 120px 0;
    box-sizing: border-box;
}

.expansion_area div {
    width: 980px;
    margin: 0 auto;
}

.expansion_area div img {
    width: 100%;
}

.etc_area img {
    width: 100%;
    margin: 0 0 10vw 0;
}

.etc_area ul {
    width: 100%;
    margin: 0 0 4vw 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    background: #fff;
}

.etc_area ul:after{
  content: "";
  display: block;
  clear: both;
}
.etc_area ul li{ float: left; padding: 1vw 2vw; box-sizing: border-box; }
.etc_area ul li:only-child { width: 100%; }                          /* 노드가 하나일 때 선택 */
.etc_area ul li:first-child:nth-last-child(2),                       /* 노드가 둘 일 때, 1번 노드 선택 */
.etc_area ul li:first-child:nth-last-child(2)+li { width: 50%; }     /* 노드가 둘 일 때, 2번 노드 선택 */
.etc_area ul li:first-child:nth-last-child(3),                       /* 노드가 셋 일 때, 1번 노드 선택 */
.etc_area ul li:first-child:nth-last-child(3)~li { width: 33.33%; }  /* 노드가 셋 일 때, 2~3번째 노드 선택 */
.etc_area ul li:first-child:nth-last-child(4),                       /* 노드가 넷 일 때, 1번 노드 선택 */
.etc_area ul li:first-child:nth-last-child(4)~li { width: 25%; }     /* 노드가 넷 일 때, 2~4번째 노드 선택 */

.etc_area ul li:first-child:nth-last-child(5),                       /* 노드가 넷 일 때, 1번 노드 선택 */
.etc_area ul li:first-child:nth-last-child(5)~li { width: 20%; }     /* 노드가 넷 일 때, 2~4번째 노드 선택 */


.etc_area ul li img{
padding: 0;
    margin: 0;
}


.contents_footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #eee;

}

.contents_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contents_footer ul li {
    display: block;
    width: 100%;
}

.pre_area {
    width: 50%;
    float: left;
}

.next_area {
    width: 50%;
    float: right;
}


.pre_area a,
.next_area a {
    width: 590px;
    height: 160px;

}

.pre_area a {
    float: right;
    text-align: left;
}

.next_area a {
    float: left;
    text-align: right;
}

.pre_area a div,
.next_area a div {
    height: 160px;
    display: table-cell;
    vertical-align: middle;
}

.arrow_area {
    width: 30px;
}

.arrow_area img {
    margin-right: 40px;
}

.textlink_area {
    width: 100%;
    color: #fff;
}

.next_area a .arrow_area img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin: 0 0 0 40px;
}

.pre_next {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.project_text {
    font-size: 16px;
    font-weight: 100;
}


.contents_footer ul li:last-child div {
    padding: 30px 0 60px 0;
    box-sizing: border-box;
    font-size: 1vw;
}


.pre_area:hover a ,
.next_area:hover a {
    opacity: 0.6;
    
}
.pre_area2 {
    width: 50%;
    float: left;
    letter-spacing: 1.2px;

}

.pre_area2 ul {
    width: 590px;
    float: right;
    text-align: left;
}

.pre_area2 ul li {
    width: auto;
    display: inline-block;
    margin-right: 20px;
}

.next_area2 {
    width: 50%;
    float: right;

}

.next_area2 span {
    width: 590px;
    float: left;
    text-align: right;
}

.swiper-container {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #d9d9d9;
    padding: 120px 0;
    z-index: 2;
}


swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-slide img{
    width: 980px;
}

.swiper-pagination {
    position: relative;
    top: 2vw; 
}
