@media screen and (max-width:1024px) {

    .swiper-slide {
        width: 39vh;
        height: 52vh;
        margin-right: 12vh;
    }

    .years {
        font-size: 2vh;
    }


    .slide-title {
        right: -16vw;
        font-size: 5.4vh;
        top: 36%;
    }

    .slide-stitle {
        top: 62%;
        right: -15vw;
    }

    .h-line {
        width: 10vw;
        margin-right: 2vw;

    }

    .slide-stitle p {
        margin-left: 1.2vw;
        font-size: 1.8vh;
        letter-spacing: -0.1vw;

    }
    
     .swiper-slide:first-child {
        margin-right: 0vw;
    }
    
   .swiper-slide:first-child .text01 {
        bottom: 30vw;
        font-size: 6vw;
        padding-right: 40%;
    }

    .swiper-slide:first-child .text02 {
        bottom: 4%;
        font-size: 9vw;
        padding-right: 40%;
    }
    
      .swiper-slide:nth-child(2) {
        margin-left: -6%;

    }
    
    .footer a{
    font-size: 1.6vh;
}

    
   /* project_list */ 
    
    .project_title span {
    font-size: 3vw;
}

.project_title h1 {
    font-size: 7.6vw;
}

    
    .workbox_wrap {
    width: 64%;
}
    
    .workbox_wrap ul li {
    width: 100%;
    margin: 0 0 5vw 0vw;
}
    
    .workbox_wrap ul li div {
    width: 100%;
    height: 34vw;
    box-sizing: content-box;
}

    
    
.workbox_wrap ul li p {
    font-size: 2.4vw;
    line-height: 0.5;
}

.workbox_wrap ul li span{
    font-size: 2vw;
    
}

.workbox_wrap ul li div.vline {
    height: 1.7vw;
    margin: 0 1.2vw;
    transform: translateY(8%)
}
    

.swiper-slide:nth-child(2) .slide-area .slidebg {
    background: url(../../img/main/slide/forest.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(3) .slide-area .slidebg {
    background: url(../../img/main/slide/ship.gif) no-repeat center center;
    background-size: cover;
}


.swiper-slide:nth-child(4) .slide-area .slidebg {
    background: url(../../img/main/slide/test.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(5) .slide-area .slidebg {
    background: url(../../img/main/slide/blood.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(6) .slide-area .slidebg {
    background: url(../../img/main/slide/carwash.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(7) .slide-area .slidebg {
    background: url(../../img/main/slide/coding.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(8) .slide-area .slidebg {
    background: url(../../img/main/slide/healthcare.gif) no-repeat center center;
    background-size: cover;
}


.swiper-slide:nth-child(9) .slide-area .slidebg {
    background: url(../../img/main/slide/draw.gif) no-repeat center center;
    background-size: cover;
}

.swiper-slide:nth-child(10) .slide-area .slidebg {
    background: url(../../img/main/slide/car01.gif) no-repeat center center;
    background-size: cover;
}
    
    
}





@media screen and (max-width:768px) {

    .swiper-slide {
        width: 42vh;
        height: 56vh;
        margin-right: 12vh;
    }
    .arrow_area {
    right: 1.5%;
}
    .years {
        font-size: 2vh;
    }


    .slide-title {
        right: -16vw;
        font-size: 5.4vh;
        top: 36%;
    }

    .slide-stitle {
        top: 62%;
        right: -15vw;
    }

    .h-line {
        width: 10vw;
        margin-right: 2vw;

    }

    .slide-stitle p {
        margin-left: 1.2vw;
        font-size: 1.8vh;
        letter-spacing: -0.1vw;

    }
    
    .swiper-slide:first-child {
        width: 100%;
        margin-right: 0vw;
    }
    
   .swiper-slide:first-child .text01 {
        bottom: 38vw;
        font-size: 8vw;
        padding-right: 30%;
    }

    .swiper-slide:first-child .text02 {
        bottom: 4%;
        font-size: 11vw;
        padding-right: 30%;
    }
    
      .swiper-slide:nth-child(2) {
        margin-left: 18%;

    }
        .swiper-slide:nth-child(n) {
                margin-top: 0vw;
    }
    .footer a{
    font-size: 2.2vw;
}

    
    
    /* project_list */ 

    
        .project_title span {
    font-size: 3.5vw;
}

.project_title h1 {
    font-size: 10vw;
}

    
.workbox_wrap ul li p {
    font-size: 2.8vw;
}

.workbox_wrap ul li span{
    font-size: 2.4vw;

}

.workbox_wrap ul li div.vline {
    height: 15px;
    margin: 0 1.4vw;
    transform: translateY(8%)
}

}

    


